@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Component1 />


<input @bind="args" />
<button @onclick="HandleClickMe">click me</button>
<p>@message</p>

@code{
    [Inject] IJSRuntime jsr { get; init; }

    #region Resource
    ExampleJsInterop exJsr;
    #endregion

    #region State
    string args = "我二秒後就出運了。";
    string message = null;
    #endregion

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        exJsr = new ExampleJsInterop(jsr);
    }

    async Task HandleClickMe()
    {
        try
        {
            message = await exJsr.CallPromise(args);
        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
    }

}